body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url("https://images.unsplash.com/photo-1566073771259-6a8506099945");
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.hero button {
    padding: 12px 30px;
    background: #d9a441;
    border: none;
    cursor: pointer;
}

/* DETAILS */
.details {
    padding: 50px;
    background: #f4f4f4;
    text-align: center;
}

/* 3 IMAGE GRID */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 30px 0;
}

.gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}

/* BOOK NOW BELOW IMAGES */
.gallery-book-btn button {
    padding: 12px 35px;
    background: #d9a441;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* BOOKING FORM */
.booking-box {
    max-width: 300px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 6px;
}

.booking-box input,
.booking-box select,
.booking-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.booking-box button {
    background: green;
    color: white;
    border: none;
}

/* SUMMARY */
.summary {
    padding: 30px;
}
