* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.45), rgba(0,0,0,0.45)),
    url("https://images.unsplash.com/photo-1566073771259-6a8506099945");
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero-text p {
    margin-bottom: 20px;
}

.hero-text button {
    padding: 12px 30px;
    background: #d9a441;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* ROOM DETAILS */
.room-details {
    padding: 50px;
    background: #f4f4f4;
    text-align: center;
}

.room-details h2 {
    margin-bottom: 40px;
}

/* EACH ROOM TYPE */
.room-row {
    margin-bottom: 40px;
}

.room-row h3 {
    margin-bottom: 15px;
    font-size: 22px;
}

/* IMAGES SIDE BY SIDE */
.room-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.room-images img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 6px;
}
