* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

/* HERO */
.hero {
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ), url("hotel.jpg") center/cover no-repeat;
    min-height: 100vh;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

/* HERO TEXT */
.hero-text {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h1 {
    font-size: 42px;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    opacity: 0.9;
}

/* SECTIONS */
.booking, .summary, .list {
    max-width: 700px;
    margin: auto;
    padding: 30px;
}

/* FORM */
input, select, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    border: none;
}

button {
    background: gold;
    font-size: 16px;
    cursor: pointer;
}

/* ROOMS */
.rooms {
    display: flex;
    gap
