let bookings = [];
const ROOM_PRICE = 2000;

// block past dates
const today = new Date().toISOString().split("T")[0];
document.getElementById("checkin").setAttribute("min", today);

function addBooking() {
  const name = document.getElementById("name").value;
  const rooms = parseInt(document.getElementById("rooms").value);
  const date = document.getElementById("checkin").value;

  if (name === "" || rooms <= 0 || date === "") {
    alert("Please fill all details");
    return;
  }

  if (date < today) {
    alert("Past date not allowed");
    return;
  }

  bookings.push({ name, rooms, date });
  showTodayBookings();
  clearForm();
}

function showTodayBookings() {
  const tbody = document.getElementById("bookingList");
  tbody.innerHTML = "";

  let totalRooms = 0;
  let totalAmount = 0;

  bookings.forEach(b => {
    if (b.date === today) {
      const amount = b.rooms * ROOM_PRICE;
      totalRooms += b.rooms;
      totalAmount += amount;

      tbody.innerHTML += `
        <tr>
          <td>${b.name}</td>
          <td>${b.date}</td>
          <td>${b.rooms}</td>
          <td>${amount}</td>
        </tr>
      `;
    }
  });

  document.getElementById("todayRooms").innerText = totalRooms;
  document.getElementById("todayAmount").innerText = totalAmount;
}

function clearForm() {
  document.getElementById("name").value = "";
  document.getElementById("rooms").value = "";
  document.getElementById("checkin").value = "";
}
